rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow write: if request.auth.uid == uid;
      allow read: if true;
    }
    
    match /messages/{receiverID} {
    	allow update, delete: if request.auth.uid == request.resource.data.from.uid;
      allow create: if request.auth.uid != receiverID;
      
      allow read: if request.auth.uid == receiverID;
    }
    
    match /sessions/{sessionID} {
    	allow update: if request.auth.uid == request.resource.data.from.uid;
      allow create, delete: if false;
      
      allow get: if request.auth.uid == request.resource.data.owner.uid;
      allow list: if false;
    }
  }
}